html {
    font-size: 10px;
    
}
body {
    padding: 0;
    font-family: 'KoHo', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #000;
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    width: 20%;
    color: #398AD7;
}

header {
    display: flex;
    padding: 1rem;
    height: 100px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
   
}

header .navbar {
    display: flex;
    width: 80%;
    justify-content: space-between;

}
header .navbar .nav-links {
    display: flex;
    list-style: none;

}

header .navbar .nav-links li {
    padding: 1rem;
    transition: all 0.5s ease-out;
    border: 1px solid #ffff;
}

header .navbar .nav-links li:hover {
border-bottom: 1px solid black;

}

header .navbar .nav-links li:not(:last-of-type) {

    margin-right: 1rem;
}

header .navbar .nav-links li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #131111;
    
}

.container {
    background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24c6dc, #514a9d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24c6dc, #514a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    height: 100vh;
    
    
    padding: 1rem;
}
.heading-primary {
    font-size: 3rem;
    font-weight: 700;
    grid-column: 1/-1;
}
.p-primary {
    font-size: 2rem;
    color: #eee;
    font-weight: 600;
    grid-column: 1/-1;

}

button {
    background-color: transparent;
    border: none;
    padding: 1rem;
    border: 1px solid #131111;
    text-align: center;
    margin: 0;
    border-radius: 1.5rem; 
    transition: background-color 0.5s ease-in;
}
button:hover {
    background-color: #000;
    cursor: pointer;
}
button a {
    font-size: 1.5rem ;
    font-weight: 600;
    color: #ffff;  
}


.button1 {
  grid-column: 1/2;
  width: 90%;  
}
.button2 {
    grid-column: 2/4;
    width: 60%;
}

.content-left {
   display: grid;
   padding-left: 1rem;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,40px);
    grid-gap: 5px;
   
}
.content-right {
    width: 50%;

}
.content-right img {
    
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

footer {
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;

}
h2 {
    font-size: 1.5rem;
    
}

p {
    font-size: 1.3rem;
    font-weight: 400;
}
footer h2 {
    margin-bottom: 1rem;
}
footer div {
    width: 24%;
}
footer div:not(:last-of-type) {
    margin-right: 0.8rem;
}






@media screen and (max-width: 650px){
    header {
        flex-direction: column;
        height: auto;

    }
    .logo {
        font-size: 3.5rem;
    }
    header .navbar {
        flex-direction: column;
        align-items: center;
    }
    .container {
        flex-direction: column;
        justify-content: center;
    }
    .content-left {
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
        grid-template-rows: repeat(4,1fr);
    }
    
    .button1 {
        width: 100%;
        grid-column: 2/2;

    }
    .button2 {
        width: 100%;
        grid-column:2/2;
    }
    .content-right {
        width: 100%;
    }

    .content-right img {
        height: 200px;
    }
    footer {
        justify-content: center;
    }
    footer div {
        width: 50%;
        
        
        
        margin-bottom: 1rem;
        text-align: center;
        
    }

}






